html {
    font-size: 20px;
}

* {
    scroll-behavior: smooth;
}

body {
    background-color: var(--background-text-color);
    font-family: 'Poppins';
}

header {
    width: 100%;
    height: 3.5rem;
    background-color: var(--primary-color);
    color: var(--background-text-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    font-size: 2rem;
    font-weight: 400;
    position: sticky;
    top: 0;
    z-index: 2;
}

a {
    text-decoration: none;
    color: inherit;
}

.logo__web {
    font-weight: 600;
    color: var(--secondary-color);
}

.header__about-contact {
    display: flex;
    gap: 6rem;
    font-size: 1.5rem;
}

.header__about, .header__contact {
    height: 100%;
    position: relative;
}

.header__about:after, .header__contact:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--background-text-color);
    transform-origin: bottom left;
    transition: transform 0.3s;
}

.header__about:hover:after, .header__contact:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

@media (min-width: 768px) {
    #burger-icon {
        display: none;
    }
}

@media (max-width: 768px) {
    .header__about-contact {
        display: none;
    }
}

.introduction {
    background-image: url(../assets/img/bg-img6-new.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    margin: auto;
    height: auto;
    text-align: center;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    height: 80vh;
    align-items: center;
    padding: 0 5rem 3rem 5rem;
    position: relative;
}

h1 {
    font-size: 2rem;
}

@media screen and (min-width: 768px) {
    h1 {
        font-size: 3.2rem;
    }
}

.introduction__paragraph {
    font-size: 1rem;
}

.introduction__button {
    background: var(--secondary-color);
    border: none;
    width: 11.75rem;
    height: 2.25rem;
    border-radius: 21.5px;
    font-size: 1.5rem;
    font-weight: 600;

}

.introduction__button:hover {
    background: var(--button-hover-color);
}

@media screen and (max-width: 768px) {
    .introduction__button:hover {
        background: var(--secondary-color);
    }
}

#arrow-down {
    position: absolute;
    bottom: -4rem;
}

.card {
    display: flex;
    max-width: 80rem;
    justify-content: space-around;
    flex-flow: column nowrap;
    gap: 2rem;
    margin: 2rem auto;
}

.card__box {
    margin: 0 auto;
    max-width: 19rem;
    background-color: var(--primary-color);
    color: var(--background-text-color);
    text-align: center;
    border-radius: var(--border-radius);
}

.card__img {
    max-width: 19rem;
    border-radius: var(--border-radius-card-img);
}

.card__title, .card__quote, .card__text {
    padding: 1rem;
}

.card__button {
    padding: 0.5rem;
    width: 100%;
    border-radius: var(--border-radius-card-button);
    background-color: var(--secondary-color);
    color: var(--primary-color);
    transition: all 300ms ease-in-out;
}

.card__button:hover {
    background-color: var(--button-hover-color);
}

/*Downloaded background-image from https://unsplash.com/photos/6-C0VRsagUw*/
