html {
    font-size: 20px;
}

body {
    background-color: var(--background-text-color);
    font-family: 'Poppins', sans-serif;
}

header {
    width: 100vw;
    height: 3.5rem;
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
}

.navigationbar {
    display: flex;
    align-items: center;
}

.navigationbar__logo {
    margin: 1rem;
    font-size: 2rem;
    color: var(--background-text-color);
}

.navigationbar__logo--secondary-color {
    color: var(--secondary-color);
    font-weight: 800;
}

.navigationbar__item::after {
    content: url(../assets/icons/Icon.png);
    position: absolute;
    right: 1rem;
    top: 1rem;
    width: 2rem;
    height: 2rem;

}

.main-title {
    background-image: url(../assets/img/bg-img3.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 85vh;
    text-align: center;
    color: var(--primary-color);
}

.main-title__header {
    font-size: 2.441rem;
    padding: 5rem 0 1rem;
}

.main-title__text {
    font-size: 1rem;
    line-height: 1.7;
    padding: 1rem;
}

.main-title__button {
    width: 11.75rem;
    padding: 0.1rem 0;
    color: var(--primary-color);
    border-radius: var(--border-radius);
    background-color: var(--secondary-color);
    margin-top: 6rem;
    transition: all 300ms ease-in-out;
    transition-delay: 0.1s;
}

.main-title__button a {
    color: inherit;
    font-weight: 600;
    font-size: 1.5rem;
}

.main-title__button:hover {
    background-color: var(--background-text-color);
    color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
}