:root {
    --primary-color: #09090d;
    --secondary-color: #b68c17;
    --background-text-color: #F4FdFF;
    --border-radius: 20px;
    --border-radius-card-button: 0px 0px 20px 20px;
    --border-radius-card-img: 20px 20px 0px 0px;
    --box-shadow: 0px 0px 4px 4px #22223b;
}

/*Changed the variable names, beacuse of different formating*/